body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:43px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u87_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:419px;
  width:60px;
  height:1px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:394px;
  width:90px;
  height:51px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:510px;
  width:60px;
  height:1px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:485px;
  width:90px;
  height:51px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:590px;
  width:60px;
  height:1px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:565px;
  width:90px;
  height:51px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:761px;
  width:60px;
  height:1px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:736px;
  width:90px;
  height:51px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:672px;
  width:60px;
  height:1px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:647px;
  width:90px;
  height:51px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:931px;
  width:60px;
  height:1px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:906px;
  width:90px;
  height:51px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1013px;
  width:60px;
  height:1px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:988px;
  width:90px;
  height:51px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1099px;
  width:60px;
  height:1px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:1074px;
  width:90px;
  height:51px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1183px;
  width:60px;
  height:1px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1158px;
  width:90px;
  height:51px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:477px;
  width:82px;
  height:38px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:515px;
  width:82px;
  height:38px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:557px;
  width:82px;
  height:38px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:595px;
  width:82px;
  height:38px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:638px;
  width:82px;
  height:38px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:676px;
  width:82px;
  height:38px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:724px;
  width:82px;
  height:38px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:762px;
  width:82px;
  height:38px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:81px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1369px;
  width:210px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:206px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1449px;
  width:110px;
  height:70px;
  font-size:20px;
  color:#FFFFFF;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1449px;
  width:100px;
  height:60px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1553px;
  width:100px;
  height:60px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:2077px;
  width:100px;
  height:60px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:2506px;
  width:100px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1509px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u121_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1613px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u122_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:2137px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:54px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1764px;
  width:97px;
  height:53px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:54px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1644px;
  width:97px;
  height:53px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:54px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1871px;
  width:97px;
  height:53px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:54px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1986px;
  width:97px;
  height:53px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:2210px;
  width:60px;
  height:1px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:2185px;
  width:90px;
  height:51px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:2292px;
  width:60px;
  height:1px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:2267px;
  width:90px;
  height:51px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:2378px;
  width:60px;
  height:1px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:2353px;
  width:90px;
  height:51px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:2462px;
  width:60px;
  height:1px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:2437px;
  width:90px;
  height:51px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:1450px;
  width:110px;
  height:70px;
  font-size:20px;
  color:#FFFFFF;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1450px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1554px;
  width:100px;
  height:60px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:2078px;
  width:100px;
  height:60px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:2507px;
  width:100px;
  height:60px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1510px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1614px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u142_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:2138px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u143_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1667px;
  width:60px;
  height:1px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:1642px;
  width:90px;
  height:51px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1758px;
  width:60px;
  height:1px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:1733px;
  width:90px;
  height:51px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:1838px;
  width:60px;
  height:1px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:1813px;
  width:90px;
  height:51px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:2009px;
  width:60px;
  height:1px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:1984px;
  width:90px;
  height:51px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:1920px;
  width:60px;
  height:1px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:1895px;
  width:90px;
  height:51px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1725px;
  width:82px;
  height:38px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1763px;
  width:82px;
  height:38px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1805px;
  width:82px;
  height:38px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1843px;
  width:82px;
  height:38px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1886px;
  width:82px;
  height:38px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1924px;
  width:82px;
  height:38px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1972px;
  width:82px;
  height:38px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:2010px;
  width:82px;
  height:38px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1675px;
  width:60px;
  height:1px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1650px;
  width:90px;
  height:51px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1798px;
  width:60px;
  height:1px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1773px;
  width:90px;
  height:51px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1906px;
  width:60px;
  height:1px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1881px;
  width:90px;
  height:51px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:2021px;
  width:60px;
  height:1px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1996px;
  width:90px;
  height:51px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:2197px;
  width:60px;
  height:1px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:2172px;
  width:90px;
  height:51px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:2279px;
  width:60px;
  height:1px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:2254px;
  width:90px;
  height:51px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:2365px;
  width:60px;
  height:1px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:2340px;
  width:90px;
  height:51px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:2449px;
  width:60px;
  height:1px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2424px;
  width:90px;
  height:51px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:1450px;
  width:110px;
  height:70px;
  font-size:20px;
  color:#FFFFFF;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:1450px;
  width:100px;
  height:60px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:1554px;
  width:100px;
  height:60px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2078px;
  width:100px;
  height:60px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2507px;
  width:100px;
  height:60px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:1510px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u183_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u183_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:1614px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:468px;
}
#u184_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u184_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:18px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:2138px;
  width:0px;
  height:0px;
}
#u185_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:373px;
}
#u185_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u185_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:18px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:1667px;
  width:60px;
  height:1px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:1642px;
  width:90px;
  height:51px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:1758px;
  width:60px;
  height:1px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:1733px;
  width:90px;
  height:51px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:1838px;
  width:60px;
  height:1px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:1813px;
  width:90px;
  height:51px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:2009px;
  width:60px;
  height:1px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:1984px;
  width:90px;
  height:51px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:1920px;
  width:60px;
  height:1px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:1895px;
  width:90px;
  height:51px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1725px;
  width:82px;
  height:38px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1763px;
  width:82px;
  height:38px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1805px;
  width:82px;
  height:38px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1843px;
  width:82px;
  height:38px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1886px;
  width:82px;
  height:38px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1924px;
  width:82px;
  height:38px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:1972px;
  width:82px;
  height:38px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:2010px;
  width:82px;
  height:38px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:2197px;
  width:60px;
  height:1px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:2172px;
  width:90px;
  height:51px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:2279px;
  width:60px;
  height:1px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:2254px;
  width:90px;
  height:51px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:2365px;
  width:60px;
  height:1px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:2340px;
  width:90px;
  height:51px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:2449px;
  width:60px;
  height:1px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:2424px;
  width:90px;
  height:51px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
